<div class="jumbotron center">
  <h1>Welcome to my Static App !</h1>
  <p>You're on my home page, have fun on this awesome website !</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign up now !</a></p>
</div>

<img style="width:100px;margin-left:20px;" src="http://www.prestagence.fr/wp-content/uploads/2013/07/Ruby_on_Rails_logo.jpg"
