
<div class="row center">
  <div class="col-md-10 col-md-offset-1">
    <div class="jumbotron">
      <h1>Contact Page</h1>
      <p>Contact page is now available <%= link_to 'here', contact_path %></p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
    <div class="jumbotron">
      <h1>Help Page</h1>
      <p>Help page is now available <%= link_to 'here', help_path %></p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
    <div class="jumbotron">
      <h1>News Page</h1>
      <p>News page is now available <%= link_to 'here', news_path %></p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
  </div>
</div>
